extends ../layouts/common

block content
    link(rel="stylesheet", href="/styles/Categories.css")

    //- p.categoriesName Models
    main.categories
        .categoriesPath(id="pathsBox")
            a(href="/") Trang chủ
            span.material-icons.categoriesNextIcon navigate_next
            a(href=`/products/${searchName}`)
                span= searchName

        .categoriesTitleBox
                span Các sản phẩm 
                span=searchName

        .categoriesBox
            each product in Products
                a(href=`/products/${product.category}/${product.name}`).categories__item
                    img.categories__image(src=product.img[0] alt=product.name)
                    .categories__shadow
                    .categories__name=product.name
                    .categories__price=product.price
                    

        
